<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Portfolio</h2>
      
      
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Card</li>
          <li data-filter=".filter-web">Web</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100" *ngFor="let item of array; let i=index">
      <div  *ngFor="let pf of item.portfolio; let i=index">
      <div class="col-lg-4 col-md-6 portfolio-item {{pf.type}}">
        <div class="portfolio-wrap">
          <img [src]=pf.src class="img-fluid" alt="">
          <div class="portfolio-links">
                   
              <!-- Button trigger modal -->
          <button type="button"  (click)="sendDetail(pf)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="bx bx-link"></i>
            More Details
          </button>
          </div>
        </div>
      </div>

    
    </div>
  </div>

  </div>
</section><!-- End Portfolio Section -->


<!-- Modal -->
<app-detailPortfolio></app-detailPortfolio>